@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-BoldItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: bold; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-ExtraBold.ttf") format("truetype"); 
font-style: normal; 
font-weight: 700; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-ExtraBoldItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 700; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-ExtraLight.ttf") format("truetype"); 
font-style: normal; 
font-weight: 200; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-ExtraLightItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 200; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Heavy.ttf") format("truetype"); 
font-style: normal; 
font-weight: 800; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-HeavyItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 800; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Italic.ttf") format("truetype"); 
font-style: italic; 
font-weight: normal; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Light.ttf") format("truetype"); 
font-style: normal; 
font-weight: 300; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-LightItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 300; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-News.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-NewsItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 400; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-Thin.ttf") format("truetype"); 
font-style: normal; 
font-weight: 100; 
} 

@font-face {
font-family: "CodecWarm"; 
src: url("../fonts/CodecWarm/CodecWarm-ThinItalic.ttf") format("truetype"); 
font-style: italic; 
font-weight: 100; 
} 